<header id="header" class="alt">

	<div id="sticky-text">
		<a href="index.html" style="float: right; margin-right: 30px; color: #000000; text-decoration: none;">NOELIA SUAREZ</a>
		<a href="index.html" style="float: left; margin-left: 30px; color: #000000; text-decoration: none;">INICIO</a>
		<a href="aboutme.html" style="float: left; margin-left: 30px; color: #000000; text-decoration: none;">SOBRE MI</a>
		<a href="contact.html" style="float: left; margin-left: 30px; color: #000000; text-decoration: none;">CONTACTO</a>

		<div style="clear: both;"></div>
	</div>

	<a href="index.html" style="float: right; margin-right: 30px; font-size: 30px; font-family: 'Times New Roman', Times, serif">NOELIA SUAREZ</a>
	<a href="index.html" style="float: left; margin-left: 30px; font-size: 20px; font-family: 'Times New Roman', Times, serif">INICIO</a>
	<a href="aboutme.html" style="float: left; margin-left: 30px; font-size: 20px; font-family: 'Times New Roman', Times, serif">SOBRE MI</a>
	<a href="contact.html" style="float: left; margin-left: 30px; font-size: 20px; font-family: 'Times New Roman', Times, serif">CONTACTO</a>

</header>
