<footer id="footer">
	<div class="container">

		<ul class="icons">
			<li><a href="https://www.facebook.com/profile.php?id=61552526468497" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="https://www.instagram.com/noelia.fotografia_/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="mailto:noeliasuarezfoto@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
		</ul>

	</div>
</footer>

<div class="copyright">

	&copy; Noelia Suárez Cancela. All rights reserved. <br><br>

	Designed by: Javi Pena
	<ul class="icons">
		<li><a href="https://www.linkedin.com/in/javier-pena-bello-1a437527a/" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
		<li><a href="https://github.com/Whuaxu" class="icon fa-github"><span class="label">GitHub</span></a></li>
	</ul>

</div>
